/* Animation */

 .index-background {
  background-image: url('https://raw.githubusercontent.com/shawnjr222/thisishowwecope/main/img/globetrot.gif'); /* Path to your GIF */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the image */
  height: 100%;
  width: 100%;
  background-color: #111111;
  transition: quick-fade-out 4s forwards;
  z-index: -1; /* Ensures it's behind other content */
  position: absolute; /* Takes it out of the normal document flow */
  animation: fadeIn 1.5s ease-out 2s forwards; /* Apply the fadeIn animation with 1s duration and 3s delay */
  opacity:0;
}

.fade-in-background-color {
  background-color: #111111; /* Target background color */
   background-image: url(''); /* Path to your GIF */
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

.fade-out {
    animation: fadeOut 0.5s forwards; /* Adjust duration as needed */
}

/*Header*/
h1[data-splitting] span {
  display: inline-block;
  white-space: pre;
  visibility: hidden;
  overflow: hidden; /* Ensures no part of the text is visible outside */
  line-height: .9;
}

h1[data-splitting] .word {
  display: inline-block;
  white-space: pre;
  overflow: hidden; /* Hide until animated */
  line-height: .9;
}

h1[data-splitting] .line {
  display: inline-block;
  white-space: pre;
  overflow: hidden; /* Hide until animated */
  line-height: .9;
}


h1[data-splitting] .word .char {
  position: relative;
  transform: translateY(100%); /* Start below */
  opacity: 0; /* Start invisible */
  animation: slide-up .77s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
  visibility: visible; /* Make characters visible when they start animating */
  animation: slide-up 0.77s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
  vertical-align: middle; /* Or try 'top', 'bottom' */
  overflow: visible; /* Ensures no part of the text is visible outside */
  line-height: .9;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(10%);
    opacity: 1;
  }
}

/*Paragraph&Button&Footer*/
@keyframes p-desktop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(-70%); /* Start shifted up */
  }
}

@keyframes p-desktop-split {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(-35%); /* Start shifted up */
  }
}

@keyframes p-tablet {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(-35%); /* Start shifted up */
  }
}

@keyframes p-mobile {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(-5%); /* Start shifted up */
  }
}

@keyframes b-desktop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(-65%);
  }
}

@keyframes b-desktop-split {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(-60%);
  }
}

@keyframes b-tablet {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(-50%);
  }
}

@keyframes b-mobile {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes footer-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



@keyframes buttonSlideUpDesktopAnimation {
  from { transform: translateY(0); }
  to { transform: translateY(-40px); }
}




.guidance-fade-out-desktop {
  animation: guidanceFadeOutDesktopAnimation 1s ease forwards;
}

@keyframes guidanceFadeOutDesktopAnimation {
  from { opacity: 1; }
  to { opacity: 0; }
}




@keyframes slide-down-and-fade-out {
  from {
    transform: translateY(0%);
    opacity: 1;
  }
  to {
    transform: translateY(100%); /* Move down */
    opacity: 0; /* Fade out */
  }
}

.guidance-slide-down-and-fade-out {
  animation: slide-down-and-fade-out 1s forwards;
}

@keyframes quick-fade-out {
  to {
    opacity: 0; /* Fade out completely */
  }
}

.quick-fade-out {
  animation: quick-fade-out 0.5s forwards; /* Quick fade out in 0.5 seconds */
}





@keyframes swoop-in {
  from {
    /* Start off-screen with a slight Y-axis rotation for the "slightly flipped" effect */
    transform: translate(-100%, -100%) rotateY(-15deg) rotateZ(-20deg);
    opacity: 0;
  }
  to {
    /* End at the center with no Y-axis rotation, "unflipping" the card */
    transform: translate(0, 0) rotateY(0deg) rotateZ(0deg);
    opacity: 1;
  }
}


@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}


.fade-in-animation {
  animation: fade-in 2.5s ease forwards;
}


@keyframes swoop-out {
  from {
    transform: translate(0, 0) rotateY(0deg) rotateZ(0deg);
    opacity: 1;
  }
  to {
    transform: translate(100%, -100%) rotateY(-15deg) rotateZ(20deg);
    opacity: 0;
  }
}





/* Foundation */
@font-face {
  font-family: 'blaue-milch';
  src: url('../fonts/blaue-milch.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'futura';
  src: url('../fonts/futura.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'courier';
  src: url('../fonts/courier.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0vw;
  padding: 0vw;
  box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    background-color: #111111;
  }

a {
     color: #ffffff;
}




  .button-slide-up-desktop {
    animation: buttonSlideUpDesktopAnimation 1s forwards;
  }







.globe-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
}

.globe-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 1;
}

#globe-3d, #globe-2d-overlay {
  width: 100%;
  height: 100%;
}


/* Globe Popup Styles */
#globe-popup-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

.globe-popup {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  color: #ffffff;
  font-family: sans-serif;
  padding: 5px 10px;
  font-size: 15px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  filter: drop-shadow(0px 0px 3px #555555);
  transition: opacity 0.3s; /* Smooth transition for popup appearance */
}

/* Adjustments for specific globe elements */
#globe-3d {
  position: absolute;
  top: 0;
  left: 0;
}

#globe-2d-overlay {
  position: absolute;
  top: 0;
  left: 0;
}

canvas {
  width: 100%;
  height: 100%;
  display: block; /* Remove extra space below canvas */
}







.fade-in-animation {
  animation: fade-in 2.5s ease forwards;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}








/* Desktop */
@media only screen and (min-width: 1367px) {  

 .index-background {
    /* Reiterate or adjust properties if necessary */
    background-image: url('https://raw.githubusercontent.com/shawnjr222/thisishowwecope/main/img/globetrot.gif');
  }
  
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    position: relative; /* Establishes a stacking context */
    z-index: 0; /* Ensures .container is in a higher stacking context */
  overflow: visible; /* Adjust as needed */
  }

  body {
    overflow: hidden; /* Hide scrollbars */
    height: 100%;
    width: 100%;
    background-color: #111111; /* Fallback color */
}
    
  .guidance-text-desktop {
    font-size: 1vw;
    font-family: 'Courier', Courier, monospace;
    font-weight: normal;
    width: 55%;
    margin: 0 auto;
    padding-top: 24px;
    margin-bottom: 0vh;
    text-align: center;
    color: #ffffff;
}


 .card {
    width: 283px; /* responsive width */
    height: 553px; /* responsive height based on viewport height */
    margin-top: 10vh; /* Adjust padding, consider using % for responsiveness */
    background-color: #ffffff; /* white background */
    padding-bottom: 0vh;
    border-radius: 22px; /* rounded corners with a radius of 22px */
    background-size: cover;
    background-position: center;
    background-image: url('path/to/image.png'); /* This will be set by JS */
    transform-style: preserve-3d;
    transform-origin: center center;
    backface-visibility: visible;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s cubic-bezier(0.25, 0.8, 0.25, 1);
    cursor: pointer;
    transform-origin: center;
 }

  .flip-container {
  perspective: 800px;
  width: 283px; /* responsive width */
  height: 553px; /* responsive height based on viewport height */
  position: relative;
  margin-bottom: 80px;
  animation: swoop-in 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) .75s forwards; /* Reduced from 2.5s to 1.5s */
  opacity: 0; /* Make the container invisible initially */
}

  .front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 22px; /* rounded corners with a radius of 22px */
  background: #fff;
  color: #fff;
  background-size: cover; /* Cover the entire area of the div */
  background-position: center; /* Center the image */
}

.back {
  transform: rotateY(180deg);
  background: #ffffff;
  color: white;
  background-size: cover; /* Ensures the image covers the entire div */
  background-position: center; /* Centers the image within the div */
  display: flex;
  justify-content: center;
  align-items: center;
}
}

.card.flipped {
   transform: rotateY(180deg);
}
 
 header h1 {
    width: 77%;
    padding-top: 22vh;
    padding-bottom: 0vh;
    color: #ffffff;
    font-size: 20vh;
    font-family: 'blaue-milch', sans-serif;
    margin: 0 auto;
    margin-top: 0vh;
    margin-bottom: 0vh;
    text-align: center;
    /* Additional overflow visible to ensure characters animate in properly */
    overflow: visible;
    z-index: 10;
    line-height: .5;
   position: relative;
  }
  
  
  header p {
    color: #ffffff;
    font-size: 2.5vh;
    font-family: 'Courier', Courier, monospace;
    font-weight: normal;
    width: 52%;
    margin: 0 auto;
    margin-top: 4.5vh;
    margin-bottom: 0vh;
    text-align: center;
    padding-top: 0vh;
    animation: p-desktop 1.25s ease forwards;
    animation-delay: .6s; /* Delay of 2 seconds */
    opacity: 0; /* Start with no opacity */
    transform: translateY(-90%); /* Start shifted up */
    z-index: 10;
    position: relative;
  }
  
  .deal {
    background-color: #ffffff;
    color: #111111;
    font-family: 'futura', sans-serif;
    text-align: center;
    display: inline-block;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 36px;
    padding-left: 36px;
    cursor: pointer;
    border-radius: 64px; 
    font-size: 20px;
    margin-top: .5vh;
    border: none;
    outline: none;
    animation: b-desktop 1.5s ease forwards;
    animation-delay: .82s; /* Delay of 1.85 seconds */
    opacity: 0; /* Start with no opacity */
    transform: translateY(-75%); /* Start shifted up */
    z-index: 10;
    position: relative;
  }

.deal:hover {
    background-color: #111111; /* Inverted background color */
    color: #ffffff; /* Inverted text color */
    border: 2px solid white;
}

.deal2:hover {
    background-color: #111111; /* Inverted background color */
    color: #ffffff; /* Inverted text color */
    border: 2px solid white;
}

  .deal2 {
    background-color: #ffffff;
    color: #111111;
    font-family: 'futura', sans-serif;
    text-align: center;
    display: inline-block;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 36px;
    padding-left: 36px;
    cursor: pointer;
    border-radius: 64px; 
    font-size: 20px;
    margin-top: 3vh;
    border: none;
    outline: none;
  }

.homef {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 2vh;
  animation: footer-fade-in 1s ease forwards;
  animation-delay: 1.25s; /* Delay */
  opacity: 0; /* Start with no opacity */
  z-index: 1100; /*Ensure it's above the loading animation and other content*/
}

 .gamef {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 2vh;
  opacity: 1;
  z-index: 1100; /*Ensure it's above the loading animation and other content*/
}


  footer p {
    color: #ffffff;
    font-size: 1vw;
    font-family: 'courier', sans-serif;
    font-weight: normal;
  }
  
}






/* Desktop Split */
@media only screen and (min-width: 574px) and (max-width: 1039px) {


}










  
/* Tablet */
@media only screen and (min-width: 1040px) and (max-width: 1366px) {

 
 
}












/* Mobile */
@media only screen and (max-width: 573px) {

.index-background {
    /* Reiterate or adjust properties if necessary */
    background-image: url('https://raw.githubusercontent.com/shawnjr222/thisishowwecope/main/img/globetrot.gif');
  }
 
 .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    position: relative; /* Establishes a stacking context */
    z-index: 0; /* Ensures .container is in a higher stacking context */
  overflow: visible; /* Adjust as needed */
  }

  body {
    overflow: hidden; /* Hide scrollbars */
    height: 100%;
    width: 100%;
    background-color: #111111; /* Fallback color */
}
    
  .guidance-text-desktop {
    font-size: 1vw;
    font-family: 'Courier', Courier, monospace;
    font-weight: normal;
    width: 55%;
    margin: 0 auto;
    padding-top: 24px;
    margin-bottom: 0vh;
    text-align: center;
    color: #ffffff;
}


 .card {
    width: 283px; /* responsive width */
    height: 553px; /* responsive height based on viewport height */
    margin-top: 10vh; /* Adjust padding, consider using % for responsiveness */
    background-color: #ffffff; /* white background */
    padding-bottom: 0vh;
    border-radius: 22px; /* rounded corners with a radius of 22px */
    background-size: cover;
    background-position: center;
    background-image: url('path/to/image.png'); /* This will be set by JS */
    transform-style: preserve-3d;
    transform-origin: center center;
    backface-visibility: visible;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s cubic-bezier(0.25, 0.8, 0.25, 1);
    cursor: pointer;
    transform-origin: center;
 }

  .flip-container {
  perspective: 800px;
  width: 283px; /* responsive width */
  height: 553px; /* responsive height based on viewport height */
  position: relative;
  margin-bottom: 80px;
  animation: swoop-in 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) .75s forwards; /* Reduced from 2.5s to 1.5s */
  opacity: 0; /* Make the container invisible initially */
}

  .front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 22px; /* rounded corners with a radius of 22px */
  background: #fff;
  color: #fff;
  background-size: cover; /* Cover the entire area of the div */
  background-position: center; /* Center the image */
}

.back {
  transform: rotateY(180deg);
  background: #ffffff;
  color: white;
  background-size: cover; /* Ensures the image covers the entire div */
  background-position: center; /* Centers the image within the div */
  display: flex;
  justify-content: center;
  align-items: center;
}
}

.card.flipped {
   transform: rotateY(180deg);
}
 
 header h1 {
    width: 77%;
    padding-top: 14vh;
    padding-bottom: 0vh;
    color: #ffffff;
    font-size: 10vh;
    font-family: 'blaue-milch', sans-serif;
    margin: 0 auto;
    margin-top: 0vh;
    margin-bottom: 0vh;
    text-align: center;
    /* Additional overflow visible to ensure characters animate in properly */
    overflow: visible;
    z-index: 10;
    line-height: .5;
   position: relative;
  }
  
  
  header p {
    color: #ffffff;
    font-size: 2vh;
    font-family: 'Courier', Courier, monospace;
    font-weight: normal;
    width: 80%;
    margin: 0 auto;
    margin-top: 8vh;
    margin-bottom: -8vh;
    text-align: center;
    padding-top: 0vh;
    animation: p-desktop 1.25s ease forwards;
    animation-delay: .6s; /* Delay of 2 seconds */
    opacity: 0; /* Start with no opacity */
    transform: translateY(-90%); /* Start shifted up */
    z-index: 10;
    position: relative;
  }
  
  .deal {
    background-color: #ffffff;
    color: #111111;
    font-family: 'futura', sans-serif;
    text-align: center;
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 24px;
    padding-left: 24px;
    cursor: pointer;
    border-radius: 64px; 
    font-size: 24px;
    margin: 0 auto;
    border: none;
    outline: none;
    animation: b-desktop 1.5s ease forwards;
    animation-delay: .82s; /* Delay of 1.85 seconds */
    opacity: 0; /* Start with no opacity */
    transform: translateY(-75%); /* Start shifted up */
    z-index: 10;
    position: relative;
    justify-content: center;
  }

.deal:hover {
    background-color: #111111; /* Inverted background color */
    color: #ffffff; /* Inverted text color */
    border: 2px solid white;
}

.deal2:hover {
    background-color: #111111; /* Inverted background color */
    color: #ffffff; /* Inverted text color */
    border: 2px solid white;
}

  .deal2 {
    background-color: #ffffff;
    color: #111111;
    font-family: 'futura', sans-serif;
    text-align: center;
    display: inline-block;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 36px;
    padding-left: 36px;
    cursor: pointer;
    border-radius: 64px; 
    font-size: 20px;
    margin-top: 3vh;
    border: none;
    outline: none;
  }

.homef {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 2vh;
  animation: footer-fade-in 1s ease forwards;
  animation-delay: 1.25s; /* Delay */
  opacity: 0; /* Start with no opacity */
  z-index: 1100; /*Ensure it's above the loading animation and other content*/
}

 .gamef {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 2vh;
  opacity: 1;
  z-index: 1100; /*Ensure it's above the loading animation and other content*/
}


  footer p {
    color: #ffffff;
    font-size: 3.5vw;
    font-family: 'courier', sans-serif;
    font-weight: normal;
  }

}
