/* Foundation */
@font-face {
  font-family: 'blaue-milch';
  src: url('../fonts/blaue-milch.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'futura';
  src: url('../fonts/futura.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'courier';
  src: url('../fonts/courier.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0vw;
  padding: 0vw;
  box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    background-color: #111111;
  }

a {
     color: #c3c3c3;
}


/* Desktop */
@media only screen and (min-width: 1367px) {  
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }

 .card {
    width: 283px; /* responsive width */
    height: 553px; /* responsive height based on viewport height */
    margin-top: 10vh; /* Adjust padding, consider using % for responsiveness */
    background-color: #ffffff; /* white background */
    padding-bottom: 0vh;
    border-radius: 22px; /* rounded corners with a radius of 22px */
    /* Ensure it's visible for testing */
    border: 1px solid #ccc; /* Optional: adds a light border to visualize the card */
 }

  
 header h1 {
    width: 77%;
    padding-top: 20vh;
    padding-bottom: 0vh;
    color: #ffffff;
    line-height: .9;
    font-size: 24vh;
    font-family: 'blaue-milch', sans-serif;
    margin: 0 auto;
    margin-top: 0vh;
    margin-bottom: 0vh;
    text-align: center;
  }
  
  
  header p {
    color: #ffffff;
    font-size: 1.4vw;
    font-family: 'Courier', Courier, monospace;
    font-weight: normal;
    width: 55%;
    margin: 0 auto;
    margin-top: 0vh;
    margin-bottom: 0vh;
    text-align: center;
    padding-top: 0vh;
  }
  
  button {
    background-color: #ffffff;
    color: #111111;
    font-family: 'futura', sans-serif;
    text-align: center;
    display: inline-block;
    padding-top: 1.8vh;
    padding-bottom: 1.8vh;
    padding-right: 3vw;
    padding-left: 3vw;
    cursor: pointer;
    border-radius: 64px; 
    font-size: 1.4vw;
    margin-top: 3vh;
    border: none;
    outline: none;
  }

footer {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 2vh;
}
  
  footer p {
    color: #ffffff;
    font-size: 1vw;
    font-family: 'courier', sans-serif;
    font-weight: normal;
  }
  
}

/* Desktop Split */
@media only screen and (min-width: 574px) and (max-width: 1039px) {

  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }
  
 .card {
    width: 283px; /* responsive width */
    height: 553px; /* responsive height based on viewport height */
    margin-top: 10vh; /* Adjust padding, consider using % for responsiveness */
    background-color: #ffffff; /* white background */
    padding-bottom: 0vh;
    border-radius: 22px; /* rounded corners with a radius of 22px */
    /* Ensure it's visible for testing */
    border: 1px solid #ccc; /* Optional: adds a light border to visualize the card */
 }
  
 header h1 {
    width: 77%;
    padding-top: 24vh;
    padding-bottom: 0vh;
    color: #ffffff;
    line-height: .9;
    font-size: 16vh;
    font-family: 'blaue-milch', sans-serif;
    margin: 0 auto;
    margin-top: 0vh;
    margin-bottom: 0vh;
    text-align: center;
  }
  
  
  header p {
    color: #ffffff;
    font-size: 2.4vw;
    font-family: 'Courier', Courier, monospace;
    font-weight: normal;
    width: 55%;
    margin: 0 auto;
    margin-top: 0vh;
    margin-bottom: 0vh;
    text-align: center;
    padding-top: 0vh;
  }
  
  button {
    background-color: #ffffff;
    color: #111111;
    font-family: 'futura', sans-serif;
    text-align: center;
    display: inline-block;
    padding-top: 1.4vh;
    padding-bottom: 1.4vh;
    padding-right: 4vw;
    padding-left: 4vw;
    cursor: pointer;
    border-radius: 64px; 
    font-size: 2.4vw;
    margin-top: 3vh;
    border: none;
    outline: none;
  }

footer {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 2vh;
}
  
  footer p {
    color: #ffffff;
    font-size: 2vw;
    font-family: 'courier', sans-serif;
    font-weight: normal;
  }
 
}

/* Tablet */
@media only screen and (min-width: 1040px) and (max-width: 1366px) {

  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }

   .card {
    width: 283px; /* responsive width */
    height: 553px; /* responsive height based on viewport height */
    margin-top: 16vh; /* Adjust padding, consider using % for responsiveness */
    background-color: #ffffff; /* white background */
    padding-bottom: 0vh;
    border-radius: 22px; /* rounded corners with a radius of 22px */
    /* Ensure it's visible for testing */
    border: 1px solid #ccc; /* Optional: adds a light border to visualize the card */
 }

 header h1 {
    width: 77%;
    padding-top: 24vh;
    padding-bottom: 0vh;
    color: white;
    line-height: .9;
    font-size: 18vh;
    font-family: 'blaue-milch', sans-serif;
    margin: 0 auto;
    margin-top: 0vh;
    margin-bottom: 0vh;
    text-align: center;
  }
  
  
  header p {
    color: #ffffff;
    font-size: 1.5vw;
    font-family: 'Courier', Courier, monospace;
    font-weight: normal;
    width: 55%;
    margin: 0 auto;
    margin-top: 0vh;
    margin-bottom: 0vh;
    text-align: center;
    padding-top: 0vh;
  }
  
  button {
    background-color: #ffffff;
    color: #111111;
    font-family: 'futura', sans-serif;
    text-align: center;
    display: inline-block;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-right: 3vw;
    padding-left: 3vw;
    cursor: pointer;
    border-radius: 64px; 
    font-size: 1.5vw;
    margin-top: 3vh;
    border: none;
    outline: none;
  }

footer {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 2vh;
}
  
  footer p {
    color: #ffffff;
    font-size: 1.2vw;
    font-family: 'courier', sans-serif;
    font-weight: normal;
  }
}


/* Mobile */
@media only screen and (max-width: 573px) {
  /* CSS rules for mobile devices */
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }

.card {
    width: 245.64px; /* responsive width */
    height: 480px; /* responsive height based on viewport height */
    margin-top: 10vh; /* Adjust padding, consider using % for responsiveness */
    background-color: #ffffff; /* white background */
    padding-bottom: 0vh;
    border-radius: 22px; /* rounded corners with a radius of 22px */
    /* Ensure it's visible for testing */
    border: 1px solid #ccc; /* Optional: adds a light border to visualize the card */
 }

  
   header h1 {
    width: 77%;
    padding-top: 18vh;
    padding-bottom: 0vh;
    color: #ffffff;
    line-height: .9;
    font-size: 10vh;
    font-family: 'blaue-milch', sans-serif;
    margin: 0 auto;
    margin-top: 0vh;
    margin-bottom: 0vh;
    text-align: center;
  }
  
  header p {
    color: #ffffff;
    font-size: 5vw;
    font-family: 'Courier', Courier, monospace;
    font-weight: normal;
    width: 77%;
    margin: 0 auto;
    margin-top: 0vh;
    margin-bottom: 0vh;
    text-align: center;
    padding-top: 0vh;
  }
  
  button {
    background-color: #ffffff;
    color: #111111;
    font-family: 'futura', sans-serif;
    text-align: center;
    display: inline-block;
    padding-top: 1.2vh;
    padding-bottom: 1.2vh;
    padding-right: 8vw;
    padding-left: 8vw;
    cursor: pointer;
    border-radius: 64px; 
    font-size: 5vw;
    margin-top: 2vh;
    border: none;
    outline: none;
  }

footer {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 2vh;
}
  
  footer p {
    color: #ffffff;
    font-size: 3vw;
    font-family: 'courier', sans-serif;
    font-weight: normal;
  }
  
}





